extends layout

block content
    nav(class='navbar navbar-default navbar-fixed-top' id='test' role='navigation')
        a(class='navbar-brand' href='/') home
        ul(class='nav navbar-nav')
            li
                a(class='navLinks' href='/portfolio') portfolio
            li
                a(class='navLinks' href='/blog') blog
    div(class='blogContent')
        h2 Using the Phonegap Facebook Plugin
        p I've just finished building a Phonegap app that relied on the facebook plugin, and I have to say that the documentation available online is terrible. It was a major time suck, and I'd like to be able to save you some time. In this post I'm going to walk through installation for iOS, and how to set up facebook login inside of your phonegap app. Special thanks to Bob Nisco and his <a href='http://bobnisco.com/blog/view/use-facebook-login-phonegap-3x-apps'>tutorial.</a> As he points out, the Phonegap documentation is actually incorrect in some areas, so hopefully you find one of our tutorials before you spend too much time trying to get the login to work using their methods. 
        br 
        p The following is for Phonegap version 3.4. Hopefully it can save you some time!
        p 1) First things first, register your app with Facebook. This is done in Facebook's "Developer's" section.
        p 2) Once you've done that, CD into your phonegap app inside the terminal, and run the following command:
        div(class='panel panel-default')
            div(class='panel-body') cordova -d plugin add /Users/your/path/here/phonegap-facebook-plugin --variable APP_ID="Your App ID" --variable APP_NAME="Your App Name"
        p Your APP_ID and APP_NAME can be found in the settings page of your Facebook app. Just a quick note, make sure you're putting the Facebook Namespace inside of APP_NAME rather than the Display Name.
        p 3) The plugin should now be succesfully installed. You can double check by looking in the plugin folder of your phonegap directory. You should see "com.facebook.plugins.facebookconnect" included in the folder:
        div(style='display:block')
            img(src='images/directory.png' style='height:324px;width:400px;margin-left:90px;margin-top:20px')
        br
        br
        p 4) We're almost done! Just a couple more steps. Go into your config.xml file and add the following lines of code in between the &ltwidget&gt tags:
        div(class='panel panel-default')
            div(class='panel-body') 
                | &ltfeature name="org.apache.cordova.facebook.Connect&gt
                br
                | &nbsp;&nbsp;&nbsp;&nbsp;&ltparam name="ios-package" value="org.apache.cordova.facebook.ConnectPlugin"&gt
                br 
                | &lt/feature&gt
                br
                br
                | &ltgap:plugin name="com.phonegap.plugins.facebookconnect"&gt
                br
                | &nbsp;&nbsp;&nbsp;&nbsp; &ltparam name="APP_ID" value="Your App ID" /&gt
                br
                | &nbsp;&nbsp;&nbsp;&nbsp; &ltparam name="APP_NAME" value="Your App Name" /&gt
                br
                | &lt/gap:plugin&gt
        p 5) Now you should be ready to use Facebook methods inside of your app. Inside of the onDeviceReady function, initialize Facebook with the following function:
        br
        div(class='panel panel-default')
            div(class='panel-body')
                |       FB.init({
                br
                | &nbsp;&nbsp;&nbsp;&nbsp; appId: "Your App ID",
                br
                | &nbsp;&nbsp;&nbsp;&nbsp; nativeInterface: CDV.FB,
                br 
                | &nbsp;&nbsp;&nbsp;&nbsp; useCachedDialogs: false
                br
                | });
        p 6) Assuming the SDK was succesfully initialized, you now have access to all the Facebook JavaScript methods listed <a href='https://developers.facebook.com/docs/javascript/reference/v2.0' target='_blank'>here!</a> As an example, here is a Facebook login:
        div(class='panel panel-default')
            div(class='panel-body')
                | var loginButton = $('#facebookLogin')
                br
                br
                | loginButton.on('click' , function(e) {
                br
                | &nbsp;&nbsp;&nbsp;&nbsp; e.preventDefault();
                br
                br
                | &nbsp;&nbsp;&nbsp;&nbsp; FB.login(function(response){
                br
                | &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;if (response.stats === 'connected')
                br
                | &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;alert('user is logged in');
                br
                | &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;} else {
                br
                | &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;alert('user is not logged in');
                br
                | &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;}
                br
                | &nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;},{scope:'user_groups'}); 
                br
                br  
                | });
        br
        p And that's all there is to it! If you have any questions or comments, feel free to send me an <a href='mailto:spencer.spiegel@gmail.com'>email!</a>


            

                                         
 
