extends layout

block content
    h3 I am a front-end developer with a focus on product development and user experience. 
    p I've been coding for a little over one year. I'm not versed in Big O Notation. I haven't taken any algorithm classes. But I am particularly tuned in to the fact that as developers, we are building <em>products</em>, and designing a poor user experience or neglecting analytics will undermine both the product and the business. It's been said that the only way to do great work is to love what you do. I know great coders love coding. I love developing the business strategy in applications. I think both are valuable to creating great products.
    //- br 
    p I'm generally pretty understated about my athletic background, but because I want to share my convictions about teamwork, and because my convictions were shaped during my athletic career, it's important to note that I walked-on to the USC football team from 2008-2010. I was part of a Rose Bowl championship team and had the privilege of playing under Pete Carroll. I could expound the virtues of Pete Carroll's coaching philosophy for hours, but for the sake of brevity I'll point out three important ideas regarding teamwork:
    ol 
        li You have to practice with unmatched focus and pace. The days are too short to not maximize every moment.
        br
        li Focus on what you can control. Don't let fear of competitors or challenges paralyze you from making progress. Focus on the moment and maximize every drop of opportunity that you have in front of you today. 
        br
        li No whining, no complaining, no excuses. If you don't fundamentally believe in the championship caliber of the team, you don't belong on the team.
    p As a final note regarding my work demeanor, I spent years of my life dipping shoulders into offensive lineman and hurling myself into 240 pound running backs. I'm not afraid of any work-related project, challenge, or task.
        ul <strong>What I'm good for:</strong>
            li Product focused development
            li User experience design
            li Clear, concise communication
            li Working with teams that attack goals with relentless positivity and motivation 
        ul <strong>What I'm not good for:</strong>
            li Working with people that slow down group momentum with defeatist attitudes 
    p For more information, please feel free to contact me by <a href='mailto:spencer.spiegel@gmail.com'>email.</a> 
